@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    height: 100vh;
    @apply bg-gray-100
}

div {
    @apply box-border h-full
}

div div {
    @apply m-2
}

svg {
    @apply flex-1 w-full h-full box-border resize-none justify-center
}